@import "tailwindcss";
@import "./styles/typography";
@import "./styles/placeholder";
@import "./styles/lists";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  background: #f3f4f6;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
  transition: .1s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b;
  cursor: pointer;
  transition: .1s;
}

::selection, ::-webkit-selection {
  color: rgb(59, 150, 254);
  background-color: rgb(243, 243, 243);
}

.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 calc(50% - 10px),#0000 0 calc(50% + 10px),#000 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size: 20% calc(200% + 20px);
  animation:l4 1s infinite linear;
}

@keyframes l4 {
  33%  {background-position: 0% 50%,50% 100%,100% 100%}
  50%  {background-position: 0%  0%,50%  50%,100% 100%}
  66%  {background-position: 0%  0%,50%   0%,100%  50%}
  100% {background-position: 0%  0%,50%   0%,100%   0%}
}